***7.Handling Dates and Times***

In [1]:
#7.1 Converting Strings to Dates
import pandas as pd
import numpy as np
date_string=np.array(['2023-01-01 11:00','2023-02-15 12:30','2023-03-20 14:45'])
[pd.to_datetime(date,format='%Y-%m-%d %H:%M') for date in date_string]

[Timestamp('2023-01-01 11:00:00'),
 Timestamp('2023-02-15 12:30:00'),
 Timestamp('2023-03-20 14:45:00')]

In [2]:
#7.2 Hnadling Time Zones
pd.Timestamp('2023-01-01 11:00',tz='Europe/London')

Timestamp('2023-01-01 11:00:00+0000', tz='Europe/London')

In [4]:
date=pd.Timestamp('2023-01-01 11:00')

In [6]:
date_in_london=date.tz_localize('Europe/London')

In [7]:
date_in_london

Timestamp('2023-01-01 11:00:00+0000', tz='Europe/London')

In [8]:
dates=pd.Series(pd.date_range('2023-01-01',periods=3,freq='M'))
dates.dt.tz_localize('Africa/Abidjan')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_9428\1814566123.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates=pd.Series(pd.date_range('2023-01-01',periods=3,freq='M'))

0   2023-01-31 00:00:00+00:00
1   2023-02-28 00:00:00+00:00
2   2023-03-31 00:00:00+00:00
dtype: datetime64[ns, Africa/Abidjan]

In [9]:
from pytz import all_timezones
all_timezones[0:2]

['Africa/Abidjan', 'Africa/Accra']

In [2]:
#7.3 Selecting Dates and Times
import pandas as pd
dataframe=pd.DataFrame({'date':pd.date_range('1/1/2001',periods=100000,freq='h')})
dataframe[(dataframe['date']>'2001-01-01 04:00') & (dataframe['date']<'2001-01-02 04:00')]

                  date
5  2001-01-01 05:00:00
6  2001-01-01 06:00:00
7  2001-01-01 07:00:00
8  2001-01-01 08:00:00
9  2001-01-01 09:00:00
10 2001-01-01 10:00:00
11 2001-01-01 11:00:00
12 2001-01-01 12:00:00
13 2001-01-01 13:00:00
14 2001-01-01 14:00:00
15 2001-01-01 15:00:00
16 2001-01-01 16:00:00
17 2001-01-01 17:00:00
18 2001-01-01 18:00:00
19 2001-01-01 19:00:00
20 2001-01-01 20:00:00
21 2001-01-01 21:00:00
22 2001-01-01 22:00:00
23 2001-01-01 23:00:00
24 2001-01-02 00:00:00
25 2001-01-02 01:00:00
26 2001-01-02 02:00:00
27 2001-01-02 03:00:00

In [3]:
#Alternatively 
dataframe=dataframe.set_index(dataframe['date'])
dataframe.loc['2001-01-01 04:00':'2001-01-02 04:00']

                                   date
date
2001-01-01 04:00:00 2001-01-01 04:00:00
2001-01-01 05:00:00 2001-01-01 05:00:00
2001-01-01 06:00:00 2001-01-01 06:00:00
2001-01-01 07:00:00 2001-01-01 07:00:00
2001-01-01 08:00:00 2001-01-01 08:00:00
2001-01-01 09:00:00 2001-01-01 09:00:00
2001-01-01 10:00:00 2001-01-01 10:00:00
2001-01-01 11:00:00 2001-01-01 11:00:00
2001-01-01 12:00:00 2001-01-01 12:00:00
2001-01-01 13:00:00 2001-01-01 13:00:00
2001-01-01 14:00:00 2001-01-01 14:00:00
2001-01-01 15:00:00 2001-01-01 15:00:00
2001-01-01 16:00:00 2001-01-01 16:00:00
2001-01-01 17:00:00 2001-01-01 17:00:00
2001-01-01 18:00:00 2001-01-01 18:00:00
2001-01-01 19:00:00 2001-01-01 19:00:00
2001-01-01 20:00:00 2001-01-01 20:00:00
2001-01-01 21:00:00 2001-01-01 21:00:00
2001-01-01 22:00:00 2001-01-01 22:00:00
2001-01-01 23:00:00 2001-01-01 23:00:00
2001-01-02 00:00:00 2001-01-02 00:00:00
2001-01-02 01:00:00 2001-01-02 01:00:00
2001-01-02 02:00:00 2001-01-02 02:00:00
2001-01-02 03:00:00 2001-01-02 03:00:00
2001-01-02 04:00:00 2001-01-02 04:00:00

In [4]:
#7.4 Breaking Up date into multiple Features
df=pd.DataFrame({'date':pd.date_range('1/1/2023',periods=150,freq='w')})
df['year']=df['date'].dt.year
df['month']=df['date'].dt.month
df['day']=df['date'].dt.day
df['dayofweek']=df['date'].dt.dayofweek
df['quarter']=df['date'].dt.quarter
df.head(3)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_19588\1174903993.py:2: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  df=pd.DataFrame({'date':pd.date_range('1/1/2023',periods=150,freq='w')})

        date  year  month  day  dayofweek  quarter
0 2023-01-01  2023      1    1          6        1
1 2023-01-08  2023      1    8          6        1
2 2023-01-15  2023      1   15          6        1

In [7]:
#7.5 Calculating the difference between dates
dataframe=pd.DataFrame()
dataframe['Arrived']=[pd.Timestamp('2023-01-01 08:00'),pd.Timestamp('2023-01-02 09:30'),
                      pd.Timestamp('2023-01-03 10:15')]
dataframe['Left']=[pd.Timestamp('2023-01-01 17:00'),pd.Timestamp('2023-01-02 18:45'),
                      pd.Timestamp('2023-01-03 19:00')]
dataframe['Left'] - dataframe['Arrived']

0   0 days 09:00:00
1   0 days 09:15:00
2   0 days 08:45:00
dtype: timedelta64[ns]

In [8]:
pd.Series(delta.days for delta in dataframe['Left'] - dataframe['Arrived'])

0    0
1    0
2    0
dtype: int64

In [12]:
#7.6 Encoding Days of the week 
dates=pd.Series(pd.date_range('2/2/2002',periods=3,freq='ME'))
dates.dt.day_name()

0    Thursday
1      Sunday
2     Tuesday
dtype: object

In [13]:
dates.dt.weekday

0    3
1    6
2    1
dtype: int32

In [ ]:
#7.7  Creating a lagged feature
# very often  data is based on regularly spaced time priods and we are interested in using values in the past to make predictions (this is often called lagging a feature)
df=pd.DataFrame()
df["dates"]=pd.date_range('1/1/2023',periods=10,freq='D')
df["stock_price"]=[10,12,11,13,12,14,13,15,14,16  ]
df["previous_day_price"]=df["stock_price"].shift(1)
df

       dates  stock_price  previous_day_price
0 2023-01-01           10                 NaN
1 2023-01-02           12                10.0
2 2023-01-03           11                12.0
3 2023-01-04           13                11.0
4 2023-01-05           12                13.0
5 2023-01-06           14                12.0
6 2023-01-07           13                14.0
7 2023-01-08           15                13.0
8 2023-01-09           14                15.0
9 2023-01-10           16                14.0

In [18]:
#7.8 Using Rolling Time windows 
time_index=pd.date_range("01/01/2010",periods=5,freq="ME")
df=pd.DataFrame()
df["stock_price"]=[1,2,3,4,5]
df.rolling(window=2).mean()

   stock_price
0          NaN
1          1.5
2          2.5
3          3.5
4          4.5

In [19]:
#7.9 Handling missing data in time series
import numpy as np

time_index=pd.date_range("01/01/2010",periods=5,freq="ME")
df=pd.DataFrame(index=time_index)
df["sales"]=[ 1.0,2.0,np.nan,np.nan,5.0 ]
df.interpolate()

            sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    3.0
2010-04-30    4.0
2010-05-31    5.0

In [20]:
df.ffill()

            sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    2.0
2010-04-30    2.0
2010-05-31    5.0

In [21]:
df.bfill()

            sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    5.0
2010-04-30    5.0
2010-05-31    5.0

In [22]:
df.interpolate(method="quadratic")

               sales
2010-01-31  1.000000
2010-02-28  2.000000
2010-03-31  3.059808
2010-04-30  4.038069
2010-05-31  5.000000

In [23]:
df.interpolate(limit=1,limit_direction="forward")

            sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    3.0
2010-04-30    NaN
2010-05-31    5.0